<html>
    <head>
        <title>Your blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django g blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This post is about my first steps on the python web developer way</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Tryin' to understand how it works </p>
            <p>published: 22.06.2020, 10:37</p>
        </div>
    </body>
</html>